# too long file names, so cannot upload
data/raw/solvency-II-files/guidelines-level 3-v0.1/
# Ignore environment variable files - generated with llm
.env

#
.venv
__pycache__

/data/vector_stores/solvency-II-files
/data/raw/test-data
/data/raw/solvency-II-images/
static

print-output.txt

playground

debug.log